.root{
    -fx-background-color: linear-gradient(to bottom right, #5DA62B, #43c0d9);
    -fx-background-repeat:no-repeat;
    -fx-background-position:center;
    -fx-background-size:100% 100%;
    
    -fx-view-order: 3;    
}
.cont{
    -fx-background-color:dark;
}
.cuadro{
    -fx-background-color:black;
    -fx-view-order: 2;
    -fx-alignment:CENTER_LEFT;
    
}
.button {
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-background-color:#003333;
    -fx-border-color: white;
    -fx-font-family:verdana;
    -fx-font-size: 15px;
}
.button:hover{
    -fx-background-color:#009999;
}
.button:pressed{
    -fx-background-color:#00cc99;
}
